

<h1> <%=@taproom.name%> </h1><br>
<p> Address: <%=@taproom.address %></p>
<p> Website: <%=@taproom.website %></p>
<p> Phone Number: <%=@taproom.phone_number %></p>
<p> Established: <%=@taproom.established %></p>
<p> Number of Employees: <%=@taproom.number_of_employees %></p>
<p> Max Serving Capacity: <%=@taproom.serving_capacity %> </p>
<p> Serves Food: <%=@taproom.offers_food%> </p>

<%# 
 t.string :name
      t.integer :number_of_employees
      t.integer :max_beers_on_tap
      t.integer :serving_capacity
      t.boolean :offers_food %>