<h4><a href="/beers">Full Beer List</a>  &nbsp; <a href="/taprooms">Taproom List</a></h4>

<a href="/beers/<%=@beer.id%>/edit">Edit Beer Info</a>

<h1> <%=@beer.name%> </h1>
<p> Style: <%= @beer.style %><br></p>
<p> Price: $<%= '%.2f'% (@beer.price/100) %><br></p>
<p> ABV: <%= @beer.abv %>% <br></p>
<p> <%= "**Award Winner**" if @beer.medal_winner %><br></p>